@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(23, 23, 23);
    color: powderblue;
    padding-bottom: 30px;
    margin: auto; 
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

a, .btn {
    transition: all 300ms ease;
}

/*Nav Link Section*/

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    height: 10vh;
}

.nav-links {
    gap: 4rem;
    list-style: none;
    font-size: 1.5rem;
    color: powderblue;
}

.nav-logo {
    position: relative;
    display: flex;
}

a {
    color: powderblue;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-underline-position: above;
    text-shadow: 0 0 10px powderblue;
}

.logo {
    font-size: 1.5rem;
}

.logo:hover {
    cursor: default;
}

/*Hamburger Section*/

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: powderblue;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    background-color: rgb(23, 23, 23);
    width: fit-content;
    overflow: hidden;
    display: none;
    padding: 5px;
    font-size: 1.5rem;
    color: powderblue;
    text-decoration: none;
    padding-right: 2rem;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
    display: block;
    text-align: right;
    margin: auto -60px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

section {
    padding-top: 4vh;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 96vh;
    box-sizing: border-box;
    min-height: fit-content
}

.section-container {
    display: flex;    
}

#profile {
    display: flex;
    justify-content: center;
    gap: 12rem;
    height: 80vh;
    align-items: center;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic-container-2 {
    margin: auto;
    height: 400px;
    width: 400px;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 600;
}

.section__text__p1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(23, 23, 23) .1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
    background: rgb(23, 23, 23);
    color: white;
    border-color: powderblue;
}

.btn-container {
    gap: 1rem;
}


/*About Section*/

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.text-container {
    border: solid powderblue;
    border-width: .1rem;
    border-radius: 2rem;
    border-color: powderblue;
    text-align: left;
    padding: 15px;
}

.about-details-container {
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.about-pic {
    border-radius: 2rem;
}

.details-container {
    padding: 1rem 4rem;
    flex: 1;
    background: rgb(23, 23, 23);
    border: .1rem solid powderblue;
    border-radius: 2rem;
    border-color: powderblue;
    border-width: .1rem;
    text-align: center;
}

.details-container h2 {
    font-size: 2rem;
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 65%;
}

/*Back to Top Button*/

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: all 300ms ease;
    cursor: pointer;
    justify-content: center;
    background-color: transparent;
    border: none;
    transition: transform ease 300ms;
    z-index: 999;
  }
  
  #backToTopBtn.show {
    display: block;
    opacity: 1;
  }

  #backToTopBtn.show:hover {
    cursor: pointer;
    transform: translate(0, -10px);
  }


/*Project Section*/

#projects {
    position: relative;
}

.color-container {
    border-color: powderblue;
    background-color: rgb(23, 23, 23);
    padding: 1.5rem;
}

.project-img {
    border-radius: 2rem;
    max-width: 250px;
    max-height: 250px;
}

.project-title {
    margin: .1rem;
    height: 40px;
    color: powderblue;
}

.details-container h3 {
    font-size: 1.5rem;
}

.project-btn {
    color: black;
    border-color: rgb(23, 23, 23);
}

.title-2 {
    font-size: 3rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    width: 300px;
}

/*Contact Section*/

.grid {
    display: grid;
}

.container {
    margin-inline: 1.5rem;
    justify-content: center;
    align-items: center;

}

.contact__container {
    row-gap: 2rem;
}

.contact__group, .contact__form {
    gap: 1rem;
}


.contact__form {
    position: relative;
    padding-inline: 1rem;
    width: auto;
}

.contact__input {
    padding: 1.25rem;
    background-color: white;
    color: black;
    font-family: "Nunito", sans-serif;
    border-radius: 2rem;
    border-color: rgb(23, 23, 23);
    border-style: solid;
    font-size: medium;
}

.contact__input::placeholder {
    color: black;
}

.contact__area {
    height: 10rem;
    resize: none;
}

.contact__button {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 9rem;
    border-style: solid;
}

.contact__button:hover {
    cursor: pointer;
    background: rgb(23, 23, 23);
    color: white;
    border-color: powderblue;
}

.contact__social {
    justify-content: center;
    column-gap: 3rem;
    height: 6rem;
    grid: auto-flow / 1fr 1fr 1fr;
}

.contact__social-link {
    text-align: center;
    vertical-align: middle;
}

.contact__message {
    position: absolute;
    left: 0;
    bottom: -2rem;
}

/*Footer Section*/

footer {
    height: 10vh;
    /*margin: 0 1rem;*/
}

footer p{
    text-align: center;
    font-size: 12px;
}

.nav-links-bottom {
    display: flex;
    margin: 0 auto;
}

.nav-links-footer {
    justify-content: center;
    text-align: center;
}